<div class="container__big_card">
  <div class="big-card__photo">
    <img
      src="https://i.ytimg.com/vi/2vA4zfyLqh4/maxresdefault.jpg"
      alt="placeholder" 
    />
  </div>

  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>

  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente porro
      minima et voluptatibus? Delectus, dolores quis nam incidunt aspernatur
      nesciunt deleniti repudiandae vero! Cupiditate, molestiae quis. Cupiditate
      adipisci eaque laboriosam!
    </p>
  </div>
</div>
